@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero">
<div class="text-box">
    <h1><i>True Name of Fashion</i></h1>
    <p>
        D'ZIRE is a desire of every person. We got a huge variety regarding choice of every person<br>
        Our product won't let you down
    </p>
</div>
<br>
<br>
<br><div class="space"></div>
<div class="slide hi-slide">
    <div class="hi-prev"></div>
    <div class="hi-next"></div>


    <ul>
        <li><img src="~/assets/images/fas.jpg" alt="" /></li>
        <li><img src="~/assets/images/fas2.jfif" alt=""></li>
        <li><img src="~/assets/images/fas3.jpg" alt=""></li>
        <li><img src="~/assets/images/fas5.jfif" alt=""></li>
        <li><img src="~/assets/images/fas6.jpg" alt=""></li>
        <li><img src="~/assets/images/row2.3.webp" alt=""></li>
        <li><img src="~/assets/images/row 2.2.webp" alt=""></li>
        <li><img src="~/assets/images/row 2.1.jpg" alt=""></li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script src="~/assets/js/hislide/jquery.hislide.js"></script>
<script>
    $('.slide').hiSlide();
</script>
</div>
<div class="footer">
    <h2><i>Product Quality</i></h2><br>
    <p><I>There are lot of products in market. Multiples online platforms are available on which you can freely explore. But D'ZIRE is unique brand with best quality. <br>We have a huge variety of cotton, silk, lilen, winter season, autumn season. Zuhaz provides the widest range of designer dresses with all the latest fashion trends <br>in Pakistan and beyond. We are a highly preferable Pakistani dresses online boutique where you can find the latest Pakistani dresses always available.D'ZIRE is an <br>eastern wear clothing brand that is known for its use of colorful eastern aesthetics and combining them with modern trends. The brand is one of the most established<br> and renowned clothing companies in Pakistan that is loved for its unmatched quality, as well as remarkable pricing. Wanna Explore it's <a href="@Url.Action("Sizechart","Home")" class="sizechart">Size Chart</a> </I></p>
    <br><br><br><br>
<video width="720" height="440" controls="controls">
    <source src="~/assets/videos/video_shop.mp4" type="video/mp4" />
</video>
</div>
<br /><br /><br />

